.project-listing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 100px auto;
  width: 97.5vw;
  text-align: center;
  justify-content: space-around;
}

.project-card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 8px;
  height: 100%;
  width: 21vw;
  text-align: center;
  align-self: center;
  background-color: rgb(238, 238, 238);
  border-radius: 1.5em;
  overflow: hidden;
}

.card-image {
  width: 20vw;
  align-self: center;
  border-radius: 0.75em;
}

.title-text, .title {
  display: flex;
  margin: 10 auto;
  width: 90%;
  text-align: center;
  align-self: center;
  justify-content: center;
  height: 100px;
  font-family: 'Montserrat', sans-serif;
}

.tech-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0%;
}

.deployed-text {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.deployed-text:hover, .deployed-links:hover {
  text-shadow: 
  0 0 1px rgb(62, 62, 62),
  0 0 2px rgb(162, 162, 162),
  0 0 3px rgb(235, 235, 235)
  ;
}

li {
  list-style: none;
  padding: 0;
  margin-top: 5px;
}