.screen-container {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.layout-nav {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  background-color: rgb(237, 237, 237);
  border-bottom: 1px solid black;
  z-index: 2;
}

.layout-children {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.seven-wanders-img {
  height: 25vw;
}



.card-link {
  text-decoration: none;
  color: black;
}

.deployed-links {
  margin: 0 auto;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  color: black;
  font-size: 1.2em;

}